<div>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Walk Settings
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class = "bottomRow">
  <ion-label>Smart Walks (Recommended time to walk)</ion-label>
    &nbsp;
    &nbsp;
    &nbsp;
  <ion-checkbox slot="smartWalk"></ion-checkbox>
  <div class="bottomRow">
    <ion-label>Sleep Time:</ion-label>
    <ion-datetime presentation="time"></ion-datetime>
    <ion-label>________________________</ion-label>
    <ion-datetime presentation="time"></ion-datetime>
  </div>
  <div class="bottomRow"></div>
  <ion-label>Manual Walks</ion-label>
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    &nbsp;
    

  <ion-checkbox slot="manualWalk"></ion-checkbox>
</div>
<div>
  
</div>
</div>

