<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="center">
        <h1>Walk It Off!</h1>
      </div>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="center">
        <ion-title size="large"><h1>Walk It Off!</h1></ion-title>
      </div>
      
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
