<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hike Parameters
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Smart Parameters</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Challenge Days</ion-label>
  </ion-item>
  <ion-item>
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Manual Parameters</ion-label>
  </ion-item>

</ion-content>
